body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(243, 243, 243);
}

nav {
    background-color: rgb(243, 243, 243);
}
@media (min-width: 992px) {
    .navbar.sticky-lg-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }

.navbar-nav .nav-link {
    color: black; 
    font-weight: bold;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.text-croco{
    color: #36ce75 !important;
}
#contDispositivos{
    width: 600px;
    
}

.video {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

  .video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
  }
.recomendados {
    color: black;
}

/* Estilo para las cartas dentro de los carousel items */
.card {
    height: 100%; /* Establecer una altura fija para las cartas */
    width: 20rem;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.card p {
    font-weight: bold;
}

.card h5 {
    font-style: italic;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2304b03b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2304b03b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.match {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0px;
}

.match img {
    width: 100%;
    height: auto; 
    display: block;
}

.fila2 {
    background-color: #E0D7D6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D2918E;
    font-weight: bolder;
}

.fila3 {
    background-color: #66473F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-weight: bolder;
}

.futuro{
    background-image: url(../img/backgroundNew.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position: center;
    display: flex;
    align-items: center;
}

.futuro h2,.futuro h5{
    margin-left: 15rem;
    text-shadow: 2px 2px #000000;
}
.futuro button{
    margin-left: 15rem;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}
    
.futuro button:hover{
    transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}
.futuro button:active{
    transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
.futuro h5{
    max-width: 50%;
}

#contNews{
    background: linear-gradient(to bottom, #9991884d, #F3F3F3);
}
.input_group{
    display: flex;
}
.form-control {
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* ESILOS NUESTRASFUNDAS */
.card:hover {
    transform: translateY(-10px); /* Mover la carta hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    font-weight: bold;
    color: #20883f;
}

.card-body {
    text-align: center;
}


.card-img-top {
    width: 100%;
    height: auto;
}

.cartaRec a {
    text-decoration: none;
    color: black;
}

.cartaRec a:hover {
    font-weight: bold;
    color: #20883f;
}


.fundas {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.fundas img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.formulario select:focus,
.formulario input:focus {
    outline-color: #1C8445;
    box-shadow: 0 0 20px #1C8445;
    border: 1px solid #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
}

.cartaProducto {
    border: 0px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    color: #000000;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.cartaProducto img {
    width: 100%;
    height: auto;
    display: block;
}

.cartaProducto a {
    text-decoration: none;
    color: black;
}

.cartaProducto:hover {
    transform: scale(1.1); /* Mover la carta hacia arriba */
    font-weight: bold;
    color: #20883f;
}

/* PAGINACION */
.pagination-outer{ text-align: center; }
.pagination{
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 10px 15px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    display: inline-flex;
    position: relative;
    z-index: 1;
}
.pagination li a.page-link{
    color: #555;
    background: transparent;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 0;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0.1s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link{
    color: #000;
    background: #f5f5f5;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link{
    width: auto;
}
.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover{
    background-color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}
.pagination li a.page-link:before{
    content: '';
    background-color: #000;
    height: 150%;
    width: 5px;
    transform-origin: left bottom;
    position: absolute;
    left: -5px;
    bottom: 0;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before{
    transform: rotate(90deg);
    bottom: 2px;
}
.pagination li:first-child a.page-link:before,
.pagination li:last-child a.page-link:before{
    display: none;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: block;
    }
    .pagination li{
        display: inline-block;
        margin: 0 0 10px;
    }
}

/* estilos producto */
#thumbs a {
    padding: 3px;
    margin: 2px;
    float: left;
    
  }
  #thumbs img {
    width: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
    
  }


#thumbs a:hover {
    border-color: #FF9900;
}

#thumbs li {
    list-style: none;
}

#thumbs {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
    margin: 0;
    padding: 0;
}
.color-circle {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  .color-circle:hover {
    border-color: #ccc;
  }



.form-control:hover, .form-select:hover{
    border-color: #20883f; 
    box-shadow: 0 0 0 0.25rem rgba(32, 136, 63, 0.25);
}
.form-control:focus,.form-select:focus {
    border-color: #19612e; 
    box-shadow: 0 0 0 0.25rem rgba(32, 136, 63, 0.692);
}

.accordion-button:hover{
    border-color: #20883f; 
    box-shadow: 0 0 0 0.25rem rgba(32, 136, 63, 0.25);
}
.accordion-button:focus {
    border-color: #19612e; 
    box-shadow: 0 0 0 0.25rem rgba(32, 136, 63, 0.692);
    color:black;
    background-color: #7ec99493;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='green'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;

}
/* Media queries */
@media (width <=1200px) {
    .card {
        height: 100%; /* Establecer una altura fija para las cartas */
        width: 11rem;
    }
    .carousel-item .row {
        display: flex;
        justify-content: center;
    }
    .carousel-item .row .col {
        margin: 0 0.5rem;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 991px){
    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .match {
        grid-template-areas: 
            "fila1"
            "fila2"
            "fila4"
            "fila3";
    }

    .fila1 {
        grid-area: fila1;
        grid-column: 1/3;
    }

    .fila2 {
        grid-area: fila2;
        grid-column: 1/3;
    }

    .fila3 {
        grid-area: fila3;
        grid-column: 1/3;
    }

    .fila4 {
        grid-area: fila4;
        grid-column: 1/3;
    }
    .futuro{
        background-position: 1450px;
    }
    .futuro h2,.futuro h5, .futuro button{
        margin-left: 50px;
    }
    .futuro h5{
        max-width: 70%;
    }
}


@media (max-width: 650px) {
    /* Definir el estilo para el carrusel cuando el tamaño de la pantalla es pequeño o extra pequeño */
    .carousel-item .row {
        display: block;
    }
    .carousel-item .row .col {
        margin: 0 auto;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #contDispositivos{
        width: 500px;
        
    }
    .futuro{
        background-position: 1300px;
    }
}
@media (max-width: 550px) {

    #contDispositivos{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .futuro{
        background-position: 1150px;
    }
}

