@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body, button, input, select, textarea {
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  color: $color-primary;
}


